.Card {
    width: 300px;
    height: 480px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
    overflow: hidden;
}



.CreativeCard {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.upper-container {
    height: 150px;

}

.text-multiline {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis
}

.image-container img {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1px;
    transform: translate(100px, 95px);
    object-fit: cover;
}

.CreativeCard img {
    border: px solid rgb(255, 255, 255);
}

.lower-container {
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
}

.lower-container h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.lower-container h3 {
    color: #2F2D2E;
    font-weight: 600;
    font-size: 1.5rem
}

.lower-container h4 {
    font-weight: 800;
    font-size: 1.2rem
}

.lower-container p {
    margin: 1rem;
    color: #2F2D2E;
    font-size: 0.8rem;
    text-align: justify;
}

.nodeco {
    text-decoration: none;
    color: #004A0C;
}