.avatarfoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-items: center;
    object-fit: cover;
    border: 2px solid rgb(147, 144, 146);
}

.up-container {
    height: 300px;
    background-color: rgb(158, 149, 167);
}

.low-container {
    height: 200px;

}

.icons {
    margin-left: 10px;

}

.bio-icon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}